@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --text: black;
    --white: white;
    --mainBg: rgba(255, 255, 255);
    --maxWidth: 960px;
    --hoverColor: #dbeffb;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PP Mori", sans-serif;
}
body {
    color: var(--text);
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 120px;
    /* background-image: url('assets/habokidpix.jpg'); */
    /* background-size: contain; */
}
#notebookPage {
    padding-bottom: 0px;
}
main {
    margin: auto;
    max-width: var(--maxWidth);
    background-color: var(--mainBg);
    padding-top: 72px;
}
article {
    margin: 48px 0px;
}
figure {
    max-width: var(--maxWidth);
    width: fit-content;
}
figcaption {
    color: var(--text);
    text-align: center;
    padding: 5px;
}
img {
    width: 100%;
}
iframe {
    border: 1px solid grey;
}
nav {
    position: fixed;
    background-color: var(--mainBg);
    width: 100%;
    border-bottom: 1px dotted grey;
}
#navItems {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    gap: 0.25rem;
}
#title {
    font-family: "PP NeueBit";
    margin: 0px;
    font-size: 2rem;
    color: var(--text);
}
#projTitle {
    font-size: 1.3rem;
    margin: auto 0;
    visibility: hidden;
}
nav a {
    display: flex;
    gap: 0.5rem;
}
nav img {
    height: 2rem;
}
nav a:hover {
    background-color: var(--hoverColor);
}

h1 {
    font-size: 2.5rem;
    /* background-color: red; */
    margin: 10px 0;
}
h2 {
    font-size: 2rem;
    margin: 10px 0;
}
h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}
#project p {
    width: 50%;
}

button {
    background-color: var(--white);
    height: fit-content;
    border: none;
    text-align: center;
}
button:hover,
button:active {
    background-color: var(--hoverColor);
    cursor: pointer;
}

a:link,
a:visited {
    color: var(--text);
    text-decoration: none;
}
a:hover,
a:active {
    color: grey;
}

.gallery {
    display: grid;
    gap: 1rem;
    margin: 1.5rem 0;
}
.gallery figure {
    outline: 1px solid grey;
    background-color: var(--white);
    border-radius: 4px;
    height: fit-content;
}
.gallery figure::before {
    display: block;
    content: url("assets/windowbtns.png");
    padding: 8px 8px 4px 8px;
    border-bottom: 1px dotted grey;
}
.gallery figcaption {
    padding: 10px;
    border-top: 1px dotted grey;
}
.gallery iframe {
    border: none;
}
.two {
    grid: 1fr / 1fr 1fr;
}
.three {
    grid: 1fr / 1fr 1fr 1fr;
}

#signature {
    width: 150px;
}
#moreBtn {
    /* outline: 1px solid black;
    border-radius: 5px; */
    padding: 2px;
    /* padding: 2px; */
}
#more {
    position: fixed;
    width: 20vw;
    height: 20vh;
    right: 10px;
    background-color: white;
    visibility: hidden;
}
#left,
#right {
    margin: auto 10px;
    padding: 5px 10px;
}

.filterBtn {
    margin: 10px;
}
.filterBtn:hover {
    background-color: var(--hoverColor);
}
.filterBtn.active {
    background-color: var(--hoverColor);
    /* color: white; */
}
.filterBtn figure {
    margin: 10px;
    width: 75px;
}
#fileWindow {
    overflow: scroll;
    background-color: lightgrey;
    margin: auto auto;
    max-width: var(--maxWidth);
    min-width: 400px;
    max-height: 400px;
    height: 400px;
    min-height: 200px;
    border-radius: 10px;
    padding: 0px;
}
#fileWindowTopbar {
    display: flex;
    gap: 10px;
    padding: 10px;
    /* margin-bottom: 20px; */
    border-bottom: 1px dotted grey;
}
/* #fileWindowTopbar :first-child:hover{
    background-color: red;
    outline: 1px solid red;
}
#fileWindowTopbar :nth-child(2):hover{
    background-color: gold;
    outline: 1px solid gold;
}
#fileWindowTopbar :last-child:hover{
    background-color: green;
    outline: 1px solid green;
} */
.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: auto 0;
    outline: 1px solid grey;
}
#filterContainer {
    margin: auto auto;
    max-width: var(--maxWidth);
}
#filterBtnContainer {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto 30px auto;
}
#filterItemContainer {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 20px 40px;
    /* outline: 1px solid red; */
}
.filterItem {
    text-align: center;
    width: 100%;
    height: 100%;
    display: none;
}
a:link,
a:visited {
    color: var();
}
a :hover {
    cursor: pointer;
}
.show {
    display: block;
}

#categoriesContainer {
    display: flex;
    margin: 20px 0px;
    gap: 10px;
}
.categoryTag {
    border: 1px solid grey;
    background-color: var(--white);
    padding: 5px 8px;
    border-radius: 4px;
}
.categoryTag::before {
    content: url("assets/folder_sm.png");
    margin-right: 5px;
    /* background-color: red; */
}
#notebookPage {
    overflow: hidden;
}
#notebookViewer {
    display: flex;
    justify-content: center;
    /* width:fit-content; */
    /* margin: auto 80px; */
    /* background-color: red; */
}
#notebookViewer figure {
    height: 100vh;
}
#pageSlider {
    position: fixed;
    width: calc(100% - 350px);
    /* margin: auto 175px; */
    bottom: 36px;
}
#pageNumber {
    text-align: center;
    position: fixed;
    bottom: 72px;
}
